@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: rgb(22, 22, 22);
  background-color: #f5f3e6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
